
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>CareKKWeb</title>

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Page level plugin JavaScript-->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin.min.js' %}"></script>

  <!-- Demo scripts for this page-->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
</head>
<style>
#bg{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

h1 { font-family: Lobster; 
font-size: 48px; 
font-style: normal; 
font-variant: normal; 
font-weight: 700; 
line-height: 26.4px; 
color: aliceblue;} 

.center {
  margin: auto;
  padding: 10px;
  text-align: center;
}

.cards {
  margin: auto;
  padding: 100px;
}

.centerBorder {
  margin: auto;
  padding: 10px;
  transform: translate(0%, 30%);
  
}

.homeButton{
  width: 200px;
}

.card{
  position: absolute;
}
</style>

<body id="bg" style="background-image: url('{% static "src/images/greenTable.png" %}')";>

<div id="Player2Id">

</div>

<div id="player1Id">

</div>

</body>

<script>

function setP1CloseFieldCards(){
  var totalWidth=screen.width;
  document.querySelector('#player1Id').innerHTML=
    "<div>"+
        "<img class=\"card\" id=\"card1\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"bottom:100px;left:"+(totalWidth/3-75*(-2))+"px\">"+
    "</div>"+
    "<div>"+
        "<img class=\"card\" id=\"card2\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"bottom:100px;left:"+(totalWidth/3-75*(-1))+"px\">"+
    "</div>"+
    "<div>"+
        "<img class=\"card\" id=\"card3\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"bottom:100px;left:"+(totalWidth/3-75*(0))+"px\">"+
    "</div>"+
    "<div>"+
        "<img class=\"card\" id=\"card4\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"bottom:100px;left:"+(totalWidth/3-75*(1))+"px\">"+
    "</div>"; 

  
}

function setP2CloseFieldCards(){
  var totalWidth=screen.width;
  document.querySelector('#Player2Id').innerHTML=
    "<div>"+
        "<img class=\"card\" id=\"card1asd\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"top:100px;left:"+(totalWidth/3-75*(-2))+"px\">"+
    "</div>"+
    "<div>"+
        "<img class=\"card\" id=\"cardasd2\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"top:100px;left:"+(totalWidth/3-75*(-1))+"px\">"+
    "</div>"+
    "<div>"+
        "<img class=\"card\" id=\"cardas3\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"top:100px;left:"+(totalWidth/3-75*(0))+"px\">"+
    "</div>"+
    "<div>"+
        "<img class=\"card\" id=\"carddsa4\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"top:100px;left:"+(totalWidth/3-75*(1))+"px\">"+
    "</div>"; 

  
}

setP2CloseFieldCards();
setP1CloseFieldCards();

</script>


<script>
function addListeners() {
    document.getElementById('card1').addEventListener('mousedown', mouseDown, false);
    window.addEventListener('mouseup', mouseUp, false);
}
function mouseUp() {
    window.removeEventListener('mousemove', divMove, true);
}

function mouseDown() {
    window.addEventListener('mousemove', divMove, true);
}

function divMove(e){
    var div = document.getElementById('card1');
    div.style.position = 'absolute';
    div.style.top = (e.clientY-50) + 'px';
    div.style.left = (e.clientX-20) + 'px';
}


addListeners();
</script>

</html>