
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>CareKKWeb</title>

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Page level plugin JavaScript-->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin.min.js' %}"></script>

  <!-- Demo scripts for this page-->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<style>
#bg{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

h1 { font-family: Lobster; 
font-size: 48px; 
font-style: normal; 
font-variant: normal; 
font-weight: 700; 
line-height: 26.4px; 
color: aliceblue;} 

.btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    padding: 10px 10px;
    border-radius: 50px;
    font-size: 24px;
    line-height: 1.33;
}

.center {
  margin: auto;
  padding: 10px;
  text-align: center;
}

.deckBorder {
  position: absolute;
  border-style: solid;
  border-color: yellow;
  border-radius: 10px;
  width: 100px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-250px,-75px);
  padding-left: 10px;
  padding-top: 15px;
}

.dumpBorder {
  position: absolute;
  border-style: solid;
  border-color: blue;
  border-radius: 10px;
  width: 300px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-125px,-75px);
  padding-left: 100px;
  padding-top: 15px;
}

.drawButton {
  position: absolute;
  bottom:200px;
  left: 50%;
  transform: translate(-225px,0px);

}

.card{
  position: absolute;
}
</style>

<body id="bg" style="background-image: url('{% static "src/images/greenTable.png" %}')";>
  


  <div id="player2Id">
  </div>

  <div id="DeckAndDump">

    <div id="deck" class="deckBorder">
      <img class = "card" width="75px" src='{% static "src/images/cardsBack.png" %}' onmousedown="if (event.preventDefault) event.preventDefault()">
    </div>
    <div id="dump" class="dumpBorder">
        
    </div>
  </div>

  <div id="player1Id" value=1>
      <button type="button" class="btn btn-danger btn-circle btn-xl drawButton" onclick="draw()">  <p><i class="glyphicon glyphicon-refresh w3-spin w3-xxlarge"></i></p></i>
      </button>
  </div>

</body>

<script>
//scripts that put cards in html
function putCard(divId,playerId,ypos,cardId,ref,src,cardValue,xpos,j){
  var div0=document.createElement("div");
  div0.setAttribute("id",divId);
  document.getElementById(playerId).appendChild(div0);
  var div = document.createElement("div");
  div.setAttribute("id",divId+j);
  document.getElementById(divId).appendChild(div);
  var img =document.createElement("img");
  img.setAttribute("valuex",xpos);
  img.setAttribute("valuey",(ypos));
  img.setAttribute("class","card");
  img.setAttribute("id",cardId);
  img.setAttribute("width","75px");
  img.setAttribute("src",src);
  img.setAttribute("cardValue",cardValue);
  img.setAttribute("onmousedown","if (event.preventDefault) event.preventDefault()")
  if (ref=="top"){
    img.style.top=(ypos)+"px";
  }else{
    img.style.bottom=(ypos)+"px";
  }
  img.style.left=xpos+"px";
  document.getElementById(divId+j).appendChild(img);
}
function setPlayerFieldCards(field,playerId,ref,ypos,divId,cardId){
  var i=field.length;
  var totalWidth=screen.width;
  if(i%2==0){
    for(var j=0;j<i/2;j++){
      putCard(divId,playerId,ypos,(cardId+((i/2-1)-j)),ref,field[(i/2-1)-j][0],field[(i/2-1)-j][1],(totalWidth/2-75*(j+1)),j);
    };
    for(var j=i/2;j<i;j++){
      putCard(divId,playerId,ypos,(cardId+j),ref,field[j][0],field[j][1],(totalWidth/2+75*(j-i/2)),j);
    };
  }else{
    var mediana=Math.floor(i/2);
    for(var j=0;j<mediana;j++){
      putCard(divId,playerId,ypos,(cardId+j),ref,field[(mediana-1)-j][0],field[(mediana-1)-j][1],(totalWidth/2-75*(j+2)+37.5),j);
    };
    putCard(divId,playerId,ypos,(cardId+mediana),ref,field[mediana][0],field[mediana][1],(totalWidth/2-37.5),mediana);
    for(var j=mediana+1;j<i;j++){
      putCard(divId,playerId,ypos,(cardId+j),ref,field[j][0],field[j][1],(totalWidth/2+75*(j-mediana)-37.5),j);
    };
  }
}
setPlayerFieldCards({{p1CloseField|safe}},"player1Id","bottom",175,"divP1Close","imgP1CloseCard");
setPlayerFieldCards({{p2CloseField|safe}},"player2Id","top",175,"divP2Close","imgP2CloseCard");
setPlayerFieldCards({{p1OpenField|safe}},"player1Id","bottom",200,"divP1Open","imgP1OpenCard");
setPlayerFieldCards({{p2OpenField|safe}},"player2Id","top",200,"divP2Open","imgP2OpenCard");
setPlayerFieldCards({{p1Hand|safe}},"player1Id","bottom",50,"divP1Hand","imgP1HandCard");
setPlayerFieldCards({{p2Hand|safe}},"player2Id","top",50,"divP2Hand","imgP2HandCard");
</script>

<script>
//scripts que escuchan el mouse
let cardId=null;
let cardTop=null;
let cardLeft=null;
let dumpTopValue=0;
let cardValue=null;
let moveField="divP1Hand";
function addListeners() {
    window.addEventListener('mousedown',mouseDown,false);
    window.addEventListener('mouseup', mouseUp, false);
}
function divMove(e){
  var div = document.getElementById(cardId);
  div.style.position = 'absolute';
  div.style.top = (e.clientY-50) + 'px';
  div.style.left = (e.clientX-35) + 'px';
}
function mouseUp(e) {
  cardToRespectivePosition(e.clientX,e.clientY);
  window.removeEventListener('mousemove', divMove, true);
  cardId=null;
}
function mouseDown(e) {
    if (e.explicitOriginalTarget.parentNode.parentNode.id==moveField){
      cardValue=parseInt(e.explicitOriginalTarget.attributes.cardValue.value);
      cardTop=e.target.attributes.valuey.value;
      cardLeft=e.target.attributes.valuex.value;
      cardId=e.target.id;
      window.addEventListener('mousemove', divMove, true);
    }
}
function cleanDump(){
  document.getElementById("dump").innerHTML="";
  dumpTopValue=0;
}
function cardToDump(src,newDumpValue){
  var img =document.createElement("img");
  img.setAttribute("class","card");
  img.setAttribute("width","75px");
  img.setAttribute("src",src);
  img.setAttribute("onmousedown","if (event.preventDefault) event.preventDefault()");
  document.getElementById("dump").appendChild(img);
  dumpTopValue=newDumpValue;
}
function refreshPlayerHand(playerHand,playerId,ref,divField,img){
  document.getElementById(divField).innerHTML=""
  setPlayerFieldCards(playerHand,playerId,ref,50,divField,img);
}
function draw(){
  if(dumpTopValue!=0){
    $.ajax( 
      {   
        type:"POST", 
        url: "player1Play", 
        data:{ 
          jugada: "draw"}, 
        success: function( data ) {
          cleanDump();
          //refresh hand
          refreshPlayerHand(data.playerHand,"player1Id","bottom","divP1Hand","imgP1HandCard");
          //refresh dump after ia plays
          cardToDump(document.getElementById("imgP2HandCard"+data.jugadaIa).attributes.src.value,parseInt(document.getElementById("imgP2"+data.iaField+data.jugadaIa).attributes.cardValue.value));
          //refresh ia hand
          refreshPlayerHand(data.newHand,"player2Id","top","divP2Hand","imgP2HandCard");
        }
      }
    );
  }
}
function cardToRespectivePosition(x,y){
  if(cardId!=null){
    xlow=document.getElementById("dump").offsetLeft-90;
    xhigh=xlow+240;
    ylow=document.getElementById("dump").offsetTop-50;
    yhigh=ylow+105;
    if((cardValue>=dumpTopValue) && xlow<=x && x<=xhigh && ylow<=y && y<=yhigh){
      cardToDump(document.getElementById(cardId).attributes.src.value,cardValue);
      cardIndex=parseInt(cardId.substring(13));
      $.ajax( 
       {   
        type:"POST", 
        url: "player1Play", 
        data:{ 
          jugada: cardIndex}, 
        success: function( data ) {
          refreshPlayerHand(data.playerHand,"player1Id","bottom","divP1Hand","imgP1HandCard");
          if (data.jugadaIa=="out"){
            cleanDump();
            refreshPlayerHand(data.newHand,"player2Id","top","divP2Hand","imgP2HandCard");
          }else{
            cardToDump(document.getElementById("imgP2HandCard"+data.jugadaIa).attributes.src.value,parseInt(document.getElementById("imgP2"+data.iaField+data.jugadaIa).attributes.cardValue.value));
            refreshPlayerHand(data.newHand,"player2Id","top","divP2Hand","imgP2HandCard");
          }
          if(data.playerHand.length==0){
            moveField="divP1Open";
          }
        } 
      }
    );
    }else{
      var div = document.getElementById(cardId);
      div.removeAttribute("style")
      div.style.position = 'absolute';
      div.style.bottom = (cardTop)+"px";
      let i=cardId.slice(4);
      div.style.left=cardLeft+"px";
    }
  }
}
addListeners();
</script>
</html>