
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>CareKKWeb</title>

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Page level plugin JavaScript-->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin.min.js' %}"></script>

  <!-- Demo scripts for this page-->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
</head>
<style>
#bg{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

h1 { font-family: Lobster; 
font-size: 48px; 
font-style: normal; 
font-variant: normal; 
font-weight: 700; 
line-height: 26.4px; 
color: aliceblue;} 

.center {
  margin: auto;
  padding: 10px;
  text-align: center;
}

.cards {
  margin: auto;
  padding: 100px;
}

.centerBorder {
  margin: auto;
  padding: 10px;
  transform: translate(0%, 30%);
  
}

.homeButton{
  width: 200px;
}

.card{
  position: absolute;
}
</style>

<body id="bg" style="background-image: url('{% static "src/images/greenTable.png" %}')";>

<div id="player2Id">

</div>

<div id="player1Id" value=1>

</div>

</body>

<script>

function setP1CloseFieldCards(i){
  var totalWidth=screen.width;
  var totalHeigh=screen.height;

  var cardsHtml="";
  if(i%2==0){
    for(var j=0;j<i/2;j++){
      cardsHtml+="<div>"+
        "<img valuex=\""+(totalWidth/2-75*(j+1))+"\" valuey=\""+(totalHeigh-300)+"\" class=\"card\" id=\"p1card"+j+"\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"top:"+(totalHeigh-300)+"px;left:"+(totalWidth/2-75*(j+1))+"px\">"+
      "</div>";
    };
    for(var j=i/2;j<i;j++){
      cardsHtml+="<div>"+
        "<img valuex=\""+(totalWidth/2+75*(j-i/2))+"\" valuey=\""+(totalHeigh-300)+"\"  class=\"card\" id=\"p1card"+j+"\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"top:"+(totalHeigh-300)+"px;left:"+(totalWidth/2+75*(j-i/2))+"px\">"+
      "</div>";
    };

  }else{
    var mediana=i/2-0.5;
    for(var j=0;j<mediana;j++){
      cardsHtml+="<div>"+
        "<img valuex=\""+(totalWidth/2-75*(j+2)+37.5)+"\" valuey=\""+(totalHeigh-300)+"\" class=\"card\" id=\"p1card"+j+"\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"top:"+(totalHeigh-300)+"px;left:"+(totalWidth/2-75*(j+2)+37.5)+"px\">"+
      "</div>";
    };

    cardsHtml+="<div>"+
      "<img valuex=\""+(totalWidth/2-37.5)+"\" valuey=\""+(totalHeigh-300)+"\" class=\"card\" id=\"p1card"+mediana+"\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"top:"+(totalHeigh-300)+"px;left:"+(totalWidth/2-37.5)+"px\">"+
    "</div>";

    for(var j=mediana+1;j<i;j++){
      cardsHtml+="<div>"+
        "<img valuex=\""+(totalWidth/2+75*(j-mediana)-37.5)+"\" valuey=\""+(totalHeigh-300)+"\" class=\"card\" id=\"p1card"+j+"\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"top:"+(totalHeigh-300)+"px;left:"+(totalWidth/2+75*(j-mediana)-37.5)+"px\">"+
      "</div>";
    };


  }
  document.querySelector('#player1Id').innerHTML=cardsHtml;

  
}

function setP2CloseFieldCards(i){
  var totalWidth=screen.width;
  var totalHeigh=screen.height;

  var cardsHtml="";
  if(i%2==0){
    for(var j=0;j<i/2;j++){
      cardsHtml+="<div>"+
        "<img class=\"card\" id=\"p2card"+j+"\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"top:"+100+"px;left:"+(totalWidth/2-75*(j+1))+"px\">"+
      "</div>";
    };
    for(var j=i/2;j<i;j++){
      cardsHtml+="<div>"+
        "<img class=\"card\" id=\"p2card"+j+"\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"top:"+100+"px;left:"+(totalWidth/2+75*(j-i/2))+"px\">"+
      "</div>";
    };

  }else{
    var mediana=i/2-0.5;
    for(var j=0;j<mediana;j++){
      cardsHtml+="<div>"+
        "<img class=\"card\" id=\"p2card"+j+"\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"top:"+100+"px;left:"+(totalWidth/2-75*(j+2)+37.5)+"px\">"+
      "</div>";
    };

    cardsHtml+="<div>"+
      "<img class=\"card\" id=\"p2card"+mediana+"\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"top:"+100+"px;left:"+(totalWidth/2-37.5)+"px\">"+
    "</div>";

    for(var j=mediana+1;j<i;j++){
      cardsHtml+="<div>"+
        "<img class=\"card\" id=\"p2card"+j+"\" src=\"{% static "src/images/cardsBack.png" %}\" width=\"75px\" style=\"top:"+100+"px;left:"+(totalWidth/2+75*(j-mediana)-37.5)+"px\">"+
      "</div>";
    };


  }
  document.querySelector('#player2Id').innerHTML=cardsHtml;

}

setP1CloseFieldCards(4);
setP2CloseFieldCards(4);

</script>


<script>
let cardId;
let cardTop;
let cardLeft;

function addListeners() {
    window.addEventListener('mousedown',mouseDown,false);
    window.addEventListener('mouseup', mouseUp, false);
}

function cardToRespectivePosition(){
  var totalWidth=screen.width;
  var totalHeigh=screen.height;
  var div = document.getElementById(cardId);
  div.style.position = 'absolute';
  div.style.top = (cardTop)+"px";
  let i=cardId.slice(4);
  div.style.left=cardLeft+"px";
}

function mouseUp() {
  cardToRespectivePosition();
  window.removeEventListener('mousemove', divMove, true);
  cardId=null;
  cardLeft=null;
  cardTop=null;
}

function mouseDown(e) {

    if (e.explicitOriginalTarget.parentNode.parentNode.id=="player1Id"){
      cardTop=e.target.attributes.valuey.value;
      cardLeft=e.target.attributes.valuex.value;
      cardId=e.target.id;
      window.addEventListener('mousemove', divMove, true);
    }
}

function divMove(e){
  var div = document.getElementById(cardId);
  div.style.position = 'absolute';
  div.style.top = (e.clientY-50) + 'px';
  div.style.left = (e.clientX-20) + 'px';
}


addListeners();
</script>

</html>